.dropdown-menu {
  border-radius: $border-radius-base;

  .v-list__item {
    border-radius: $border-radius-base - 1;
    color: #333 !important;
    display: flex;
    font-size: $font-size-dropdown;
    font-weight: $font-weight-base;
    margin: 0 $margin-small - 5;
    padding: $padding-small 1.5rem;
    text-transform: none;
    @include transition-except-props(.15s linear, color, background-color, box-shadow 0ms);
    white-space: nowrap;

    .v-list__item__title {
      transition: none;
    }

    &:hover,
    &:focus,
    &:active {
      @include dropdown-menu-color($brand-primary);

      &,
      .v-list__item__title {
        color: $white !important;
      }
    }
  }
}
